<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <% if (post.layout != 'page') { %>
            <div class="article-meta">
                <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                <%- partial('post/tag') %>
                <div class="article-reading-time">
                    <%- readingTime(page.content) %>
                </div>
            </div>
        <% } %>
        <%- partial('post/gallery') %>
        <% if (post.toc != 'false') { %>
        <div class="article-toc">
            <%- toc(post.content) %>
        </div>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>
    </div>
</article>
<%- partial('comment/index') %>
